<h1>Teaching/Studying/Quals </h1>


<ul> Differential Geometry and Manifolds
    <li><a href="https://drive.google.com/file/d/1BGSLBxXjzZMkrMBQqzcTRON7KkYWsTcq/view?usp=sharing">Problems in manifolds and Riemannian geometry</a></li>
</ul>

<ul> Some favorite/interesting papers
    <li><a href="https://arxiv.org/abs/2308.02918">Spectral Ranking Inferences based on General Multiway Comparisons</a></li>
    <li><a href="https://cas.mines-paristech.fr/~praly/Telechargement/Autres/Hartman-C1_1960.pdf">On Local Homeomorphisms of Euclidean Space</a></li>
</ul>
