<h1>Family Stuff and Competitions</h1>


<ul> Powerlifting Results (by overall wilks)
  <li><a href="https://www.openpowerlifting.org/m/uspa/0576#justinbennett">2016 Southwest Shootout</a> (11th)</li> 
  <li><a href="https://www.openpowerlifting.org/m/wabdl/1611#justinbennett">2016 WABDL push-pull</a> (3rd)</li> 
  <li><a href="https://www.openpowerlifting.org/m/uspa/0666#justinbennett">2016 Arizona State Powerlifting Championship</a> (3rd)</li> 
  <li><a href="https://www.openpowerlifting.org/m/uspa/0780#justinbennett">2017 Western Warrior Powerlifting Challenge</a> (6th)</li> 
</ul>
