<h1>Projects or other work</h1>

<ul> Data Science
    <li><a href="https://drive.google.com/file/d/11wUO7g6utnPm15n1JUPFODPEYs72d1TV/view?usp=drive_link">On The Fast Fourier Transform</a></li>
    <li><a href="https://drive.google.com/file/d/1WWmqQxm_SkWCWk5_S1_xysVG3u1fB5ar/view?usp=sharing">Sparse recovery using BP and OMP</a></li>
    <li><a href="https://drive.google.com/file/d/16-5BFMT3K4yZeH_sabC04eOoUSRr0ERS/view">Baseball salary predictor selection using R</a></li>
    <li><a href="https://drive.google.com/file/d/13qtmkT5ZRK_ioMY6gzQdotmCNSV-AQpm/view?usp=sharing">Differential expression and supervised learning</a></li>
    <li><a href="https://drive.google.com/file/d/1n_aHWrxSanKoo5tuJenNtv9qE2atiE06/view?usp=sharing">Model selection presentation for used car prices</a></li>
</ul>

<ul> Dynamical Systems
    <li><a href="https://drive.google.com/file/d/1ZN5RsUfMytxdaDLOrpU1KEO79AyjDPLw/view?usp=sharing">Stoichiometric dynamics of ant-fungus mutualism</a></li>
</ul>

<ul> Master Thesis
    <li><a href="https://drive.google.com/file/d/1nk-knGRAmIqFJNReKlY19ZV9CrF8fhrx/view?usp=sharing">Center manifold learning</a></li>
</ul>

