<h1>Research Interests</h1>

<ul>
    <li><b>Dynamical Systems:</b>Model/manifold reductions, Data assimilation, uncertainty and prediction</li>
    <li><b>Geometry of Data:</b> Diffusion maps, Manifold learning, Kernel learning</li>
    <li><b>Sparse Recovery:</b> model/manifold recovery, identifiability</li>    
</ul>

<h1>Teaching/TA </h1>

<ul> Fall 2023
    <li>Math 677: Mathematical Foundations of Data Science (grader)</li>
</ul>


<h1>Studying/Quals </h1>


<ul> Differential Geometry and Manifolds
    <li><a href="https://drive.google.com/file/d/1BGSLBxXjzZMkrMBQqzcTRON7KkYWsTcq/view?usp=sharing">Problems in manifolds and Riemannian geometry</a></li>
</ul>

<ul> High-Dimensional Probability
    <li><a href="https://drive.google.com/file/d/16H_qi8Fj7ufNPKuVbvjJidZSfnYk-c95/view?usp=drive_link">Problems in high-dimensional probability</a></li>
</ul>


