<h1>Research</h1>



 <ul>
  <li><a href="https://www.researchgate.net/publication/368225002_Practical_Understanding_of_Cancer_Model_Identifiability_in_Clinical_Applications#fullTextFileContent">Practical understanding of cancer model identifiability</a></li>
  <li><a href = "https://www.researchgate.net/publication/354759233_A_study_of_disproportionately_affected_populations_by_raceethnicity_during_the_SARS-CoV-2_pandemic_using_multi-population_SEIR_modeling_and_ensemble_data_assimilation">Covid, multi-population SEIR modeling and ensemble data assimilation</a></li>
  <li><a href = "https://www.researchgate.net/publication/349543011_Clinical_Data_Validated_Mathematical_Model_for_Intermittent_Abiraterone_Response_in_Castration-Resistant_Prostate_Cancer_Patients">Clinical data validated mathematical model of metastatic prostate cancer</a></li>
</ul> 
