<h1>Competitions</h1>

<ul> Powerlifting Results (by overall wilks)
  <li><a href="https://www.openpowerlifting.org/m/uspa/0576#justinbennett">2016 Southwest Shootout</a> (11th)</li> 
  <li><a href="https://www.openpowerlifting.org/m/wabdl/1611#justinbennett">2016 WABDL push-pull</a> (3rd)</li> 
  <li><a href="https://www.openpowerlifting.org/m/uspa/0666#justinbennett">2016 Arizona State Powerlifting Championship</a> (3rd)</li> 
  <li><a href="https://www.openpowerlifting.org/m/uspa/0780#justinbennett">2017 Western Warrior Powerlifting Challenge</a> (6th)</li> 
</ul>

<h1>Some Favorite/Interesting</h1>


<ul> Papers
    <li><a href="https://www.sciencedirect.com/science/article/abs/pii/S0098135498001914?via%3Dihub">Identification of distributed parameter systems: A neural net based approach</a></li>
    <li><a href="https://www.pnas.org/doi/10.1073/pnas.1620045114#sec-1">Reconstruction of normal forms by learning informed observation geometries from data</a></li>
    <li><a href="https://citeseerx.ist.psu.edu/document?repid=rep1&type=pdf&doi=6e37979d2a910e8a2337927731619fd789a5213b">Approximation theory of the MLP model in neural networks</a></li>
    <li><a href="https://cas.mines-paristech.fr/~praly/Telechargement/Autres/Hartman-C1_1960.pdf">On Local Homeomorphisms of Euclidean Space</a></li>
</ul>

<ul> Books
  <li>Hale & Kocak, "Dynamics and Bifurcation"</li>
  <li>Brunton & Kutz, "Data-Driven Science & Engineering"</li>
  <li>Smoller, "Shockwaves and Reaction-Diffusion Equations"</li>
  <li>Axler, "Linear Algebra Done Right"</li>
  <li>Lee, "Introduction to Smooth Manifolds"</li>
</ul>

